<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bingRewards.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <bingRewards.Properties.Settings>
            <setting name="startspeed" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="searchspeedmin" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="searchspeedmax" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hidebrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mobilesearches" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="desktopsearches" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="autoclose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startminimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="searchtype" serializeAs="String">
                <value>normal</value>
            </setting>
        </bingRewards.Properties.Settings>
    </userSettings>
</configuration>